<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<!-- Video elements -->
		<div class="container">
			<div id='videos'>
				<video id='localVideo' autoplay></video>
				<div id="remoteVideos"></div>
			</div>	
		</div>
		<script src="/latest.js"></script>
		<script>
			var webrtc = new SimpleWebRTC({
				localVideoEl: 'localVideo',
				remoteVideosEl:'remoteVideos',
				autoRequestMedia:true
			})


			webrtc.on('readyToCall', function () {
				webrtc.joinRoom("11234");
			});

		</script>

	</body>	
</html>